@import "function";

////
/// @group  Variable
////

///
/// @name   object
///
$object: (
  colors : (
    white                 : #fff,
    black                 : #000,

    primary               : #4285f4,

    success               : #00c851,
    info                  : #33b5e5,
    warning               : #ff8800,
    danger                : #cc0000
  )
);

///
/// MAIN PALLET
/// ===============
$c-white                  : return-value(colors, white);
$c-black                  : return-value(colors, black);

$c-primary                : return-value(colors, primary);

$c-success                : return-value(colors, success);
$c-info                   : return-value(colors, info);
$c-warning                : return-value(colors, warning);
$c-danger                 : return-value(colors, danger);

///
/// ADDITIONAL PALLET
/// ===============
$c-111: #111;
$c-18162e: #18162e;

$c-9ea8bb: #9ea8bb;
$c-cfd1d3: #cfd1d3;
$c-ececec: #ececec;
$c-fafafa: #fafafa;

$c-0074e1: #0074e1;
$c-5f62ad: #5f62ad;
$c-b93c68: #b93c68;
$c-f4455a: #f4455a;
