//- DATA :: START

-
  var dataObj = {
    nav: [],
    social: [
      {
        name: "instagram"
      },
      {
        name: "twitter"
      },
      {
        name: "facebook"
      }
    ]
  };

//- DATA :: END