//- DATA :: START

-
  var dataObj = {
    nav: [
      {
        href: "services.html",
        name: "Services."
      },
      {
        href: "artist.html",
        name: "Artists."
      },
      {
        href: "#",
        name: "Our Work."
      },
      {
        href: "#",
        name: "The Team."
      }
    ],
    social: [
      {
        name: "instagram"
      },
      {
        name: "twitter"
      },
      {
        name: "facebook"
      }
    ]
  };

//- DATA :: END