//- MIXIN :: START

//- SVG icon
mixin iconSVG(name, mod)
  - var mod = mod || ''
  svg(class="icon-svg icon-" + name + ' ' + mod)
    use(xlink:href="./img/sprite.svg#" + name)


//- PICTURE TAG
//-
//- example: +pictureTag(false, "png", "img-home-video-poster")
//-
mixin pictureTag(ieSupport, classModPicture, classModImage, imgType, imgName)
  -
    var imgStringPathWebp = './img/' + imgName + '.webp, ./img/' + imgName + '@2x.webp 2x',
      imgStringPath = './img/' + imgName + '.' + imgType + ', ./img/' + imgName + '@2x.' + imgType + ' 2x';

  picture(class!= classModPicture)
    if(ieSupport)
      <!--[if IE 9]>
      video(style="display: none;")
      <![endif]-->
        source(srcset= imgStringPath)
      <!--[if IE 9]>
      <![endif]-->
    else
      source(srcset!= imgStringPathWebp type="image/webp")
      source(srcset!= imgStringPath type!= "image/" + imgType)

    img(class!= classModImage, srcset!= imgStringPath)


//- FIND MORE
mixin findMoreMacros(classMod, placeholder, btnVal)
  .findout(class!= "findout--" + classMod)
    form.findout__form(action="" method="" autocomplete="off")
      .findout__form-field
        input(type="text" name="" placeholder!= placeholder)
        button.btn.btn--blue(type="submit")!= btnVal


//- LINK
mixin link(classMod, val)
  a.link(
    href="#"
    title="" class= classMod
  )
    span!= val
    +iconSVG("arrow")


//- MIXIN :: END