// PROMOTIONAL :: START

section#promotional.promotional
  .promotional__bg
    .promotional__bg-left
    .promotional__bg-right

  .c-grid
    .promotional__wrapper

      .promotional__line.promotional__line-0
      .promotional__line.promotional__line-1
      .promotional__line.promotional__line-2
      .promotional__line.promotional__line-3

      .promotional__wrapper-left
        h1.promotional__title.title.title--white!= "Promotional Services"

        p.promotional__subtitle!= "Reporting  your  campaign  data  in  real-time"

        a.promotional__btn.btn.btn--blue(
          href="#"
          title="" class=""
        )!= "MORE INFO"

      .promotional__wrapper-right
        +pictureTag(false, "", "object-fit object-fit--coverCenter", "png", "img-promotional-phone")

// PROMOTIONAL :: END