// COMMON :: START

// title
.title {
  letter-spacing: 4.29px;
  line-height: 1;
  font-size: 78px;
  font-weight: bold;
  @include respond(max-wide-small) {
    font-size: 64px;
  }
  @include respond(max-medium) {
    font-size: 51px;
  }
  @include respond(max-extra-small) {
    font-size: 38px;
  }

  &--white {
    color: $c-white;
  }
  &--dark {
    color: $c-111;
  }
}
// title :: end


// subtitle
.subtitle {
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1.43px;
  color: $c-cfd1d3;
  font-size: 18px;
  font-weight: bold;
  @include respond(max-wide-small) {
    font-size: 17px;
  }
  @include respond(max-medium) {
    font-size: 16px;
  }
  @include respond(max-extra-small) {
    font-size: 15px;
  }
}
// subtitle :: end


// btn
.btn {
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 216px;
  height: 74px;
  padding: 0 5px;
  color: $c-white;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  @include transition(padding-top, background-color);
  @include respond(max-extra-small) {
    font-size: 14px;
  }

  &:after {
    opacity: .2;
    z-index: 0;
    content: "";
    position: absolute;
    top: -50px;
    left: -125px;
    height: 175px;
    width: 75px;
    background-color: $c-white;
    transform: rotate(35deg);
    transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover {
    @include transition(background-color);

    &:after {
      left: 120%;
      transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &--blue {
    background-color: $c-0074e1;

    &:hover {
      background-color: lighten($c-0074e1, 5%);
    }
  }

  &--dark {
    background-color: $c-111;

    &:hover {
      background-color: lighten($c-111, 5%);
    }
  }
}
// btn :: end


// link
.link {
  overflow: hidden;
  display: flex;
  align-items: center;
  color: $c-0074e1;
  font-size: 16px;
  font-weight: bold;
  @include transition(color);
  @include respond(max-extra-large) {
    font-size: 15px;
  }
  @include respond(max-large) {
    font-size: 14px;
  }

  &:hover {
    color: lighten($c-0074e1, 5%);
    @include transition(color);

    svg {
      transform: translateX(50%);
      @include transition(transform);
    }
  }

  span {
    margin-right: 21px;
  }

  svg {
    position: relative;
    @include transition(transform);
  }
}
// link :: end


// form
.form {
  &__field {
    position: relative;
    width: 100%;
    max-width: 689px;
    height: 68px;
    margin-bottom: 20px;

    &-group {
      display: flex;
      justify-content: space-between;

      .form__field {
        width: calc(50% - 8px);

        &:first-of-type {
          margin-right: 8px;
        }
        &:last-of-type {
          margin-left: 8px;
        }
      }
    }

    &-btn {
      margin-top: 40px;
    }
  }

  &__input {
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 27px;
    border-radius: 0;
    border: 1px solid $c-e3e7f2;
    background-color: $c-f9fbff;
    font-size: 18px;
    @include inputPlaceholder {
      color: $c-9ea8bb;
    }
  }
}
// form :: end


// find out more
.findout {
  width: 100%;

  &--footer {
    max-width: 611px;
    margin-left: auto;
  }

  &--welcome {
    max-width: 885px;
    margin-right: 0;
  }

  &__form {
    &-field {
      display: flex;
      @include respond(max-extra-small) {
        flex-wrap: wrap;
      }

      input {
        outline: none;
        width: 100%;
        padding: 0 32px;
        border: none;
        box-shadow: none;
        border-radius: 0;
        font-size: 20px;
        @include inputPlaceholder {
          color: $c-9ea8bb;
        }
        @include respond(max-extra-small) {
          width: 100%;
          height: 74px;
          padding: 0 15px;
        }
      }
      button {
        @include respond(max-extra-small) {
          max-width: 100%;
        }
      }
    }
  }
}
// find out more :: end


// animatedGradient
@keyframes animatedGradient {
  from {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
// animatedGradient :: end


// COMMON :: END