// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper
      .footer__wrapper-top
        .footer__wrapper-left
          include ../macros/_logotype

        .footer__wrapper-right
          include ../macros/_nav

      .footer__wrapper-bottom
        .footer__wrapper-left
          +social("footer", dataObj.social)

        .footer__wrapper-right
          +findMoreMacros("footer", "Email Address", "FIND OUT MORE")

// FOOTER :: END