---
title: Famous - Artist

contentClassName: artist
dataPageName: artist
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include ./components/artist/_singer
    include ./components/artist/_testimonials
    include ./components/artist/_songs
