---
title: Famous

contentClassName: home
dataPageName: index
---
extends shared/_layout

block content
  div(class!= contentClassName)

    //include ./components/common/_artists
    include ./components/home/_real
    include ./components/home/_blog
