// SONGS :: START

.songs {
  position: relative;
  padding-top: 105px;
  padding-bottom: 69px;
  border-bottom: 1px solid #2c2a41;
  @include respond(max-small) {
    padding-top: 52px;
  }
  @include respond(max-extra-small) {
    padding-bottom: 34px;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: $c-18162e;
    }
  }

  &__wrapper {
    z-index: 1;
    position: relative;
    display: flex;


    &-left {
      width: 100%;
      max-width: calc(100% - 555px);
      padding: 50px;
      background-color: $c-white;
      box-shadow: 17px 2px 40px 0 rgba($c-black, 0.15);
      @include respond(max-large) {
        max-width: 60%;
      }
      @include respond(max-medium) {
        max-width: 100%;
      }
      @include respond(max-extra-small) {
        padding: 30px;
      }
    }

    &-right {
      position: relative;
      width: 555px;
      @include respond(max-large) {
        width: 40%;
      }
      @include respond(max-medium) {
        display: none;
      }

      picture {
        display: flex;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    padding-bottom: 29px;
    @include respond(max-extra-small) {
      flex-wrap: wrap;
    }

    &-left {
      width: 154px;
      padding-right: 37px;
      @include respond(max-extra-small) {
        width: 100%;
        padding-right: 0;
        padding-bottom: 30px;
      }
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 154px);
      @include respond(max-extra-small) {
        max-width: 100%;
        text-align: center;
      }
    }

    &-img {
      position: relative;
      width: 117px;
      height: 117px;
      @include respond(max-extra-small) {
        margin-left: auto;
        margin-right: auto;
      }

      &:after {
        content: "";
        z-index: 0;
        position: absolute;
        left: 14px;
        bottom: 0;
        width: 85%;
        height: 75%;
        background-color: rgba($c-black, 0.25);
        box-shadow: 0 2px 20px 0 rgba($c-black, 0.5);
      }

      picture {
        display: flex;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    padding-bottom: 72px;
    @include respond(max-extra-small) {
      flex-wrap: wrap;
    }

    &-controls {
      width: 50px;
      padding-right: 9px;
      @include respond(max-extra-small) {
        order: 1;
        width: 50%;
        padding-right: 0;
        padding-bottom: 30px;
      }

      a {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41px;
        height: 41px;
        border-radius: 100%;
        background-color: $c-f4455a;
        box-shadow: 0 4px 10px 0 rgba($c-f4455a, 0.48);
        @include transition(box-shadow);

        &:hover {
          box-shadow: 0 2px 5px 0 rgba($c-f4455a, 0.48);
          @include transition(box-shadow);
        }

        &.is-play {
          svg {
            &.pause-js {
              display: block;
            }
            &.play-js {
              display: none;
            }
          }
        }

        svg {
          fill: $c-white;
          animation-fill-mode: both;
          animation-duration: 0.5s;
          animation-name: fadeIn;

          &.pause-js {
            display: none;
          }
          &.play-js {
            transform: translateX(2px) scale(0.65);
          }
        }
      }
    }

    &-wave {
      position: relative;
      width: 100%;
      max-width: calc(100% - (50px + 100px));
      height: 128px;
      @include respond(max-extra-small) {
        order: 3;
        max-width: 100%;
      }
    }

    &-additional {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100px;
      padding-left: 10px;
      @include respond(max-extra-small) {
        order: 2;
        width: 50%;
        padding-bottom: 30px;
      }

      a {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41px;
        height: 41px;
        border-radius: 100%;
        background-color: $c-white;
        box-shadow: 0 4px 10px 0 rgba(#767676, 0.29);
        @include transition(box-shadow);

        &:hover {
          box-shadow: 0 2px 5px 0 rgba(#767676, 0.29);
          @include transition(box-shadow);
        }

        &:first-child {
          &.is-mute {
            svg {
              fill: $c-cfd1d3;
              @include transition(fill);
            }
          }

          svg {
            fill: $c-0074e1;
            @include transition(fill);
          }
        }
        &:last-child {
          svg {
            fill: $c-cfd1d3;
          }
        }
      }
    }
  }

  &__footer {
    overflow-y: auto;
    height: auto;
    max-height: 336px;
    border-top: 1px solid $c-e3e7f2;
    @include respond(max-extra-small) {
      max-height: 416px;
    }
  }

  &__name {
    color: $c-cfd1d3;
    font-size: 16px;
  }

  &__music {
    font-size: 20px;
    font-weight: 600;
  }

  &__description {
    display: flex;
    align-items: center;
    border-top: 1px solid $c-e3e7f2;
    padding-top: 17px;
    padding-bottom: 17px;
    color: $c-111;
    @include respond(max-extra-small) {
     flex-wrap: wrap;
    }

    &:first-child {
      border-top: none;
    }

    > div {
      &:nth-child(1) {
        width: 100px;
        padding-right: 23px;
        @include respond(max-extra-small) {
          width: 100%;
          padding-right: 0;
        }
      }
      &:nth-child(2) {
        width: 100%;
        max-width: calc(100% - (100px + 75px));
        @include respond(max-extra-small) {
          max-width: 100%;
          padding-bottom: 17px;
          text-align: center;
        }
      }
      &:nth-child(3) {
        width: 75px;
        text-align: right;
        @include respond(max-extra-small) {
          width: 100%;
          text-align: center;
        }
      }
    }

    &-img {
      overflow: hidden;
      position: relative;
      width: 77px;
      height: 77px;
      border-radius: 100%;
      @include respond(max-extra-small) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 17px;
      }

      picture {
        display: flex;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-name {
      color: $c-cfd1d3;
    }

    &-music {
      font-size: 16px;
      font-weight: 600;
    }

    &-time {
      font-weight: bold;
    }
  }

  &__time {
    position: absolute;
    bottom: -20px;
    font-weight: bold;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-name: fadeIn;

    &--current {
      left: 0;
    }

    &--duration {
      right: 0;
    }
  }
}

// SONGS :: END