// SONGS :: START

.songs {
  position: relative;
  padding-top: 105px;
  padding-bottom: 69px;
  border-bottom: 1px solid #2c2a41;
  @include respond(max-small) {
    padding-top: 52px;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: $c-18162e;
    }
  }

  &__wrapper {
    z-index: 1;
    position: relative;
    display: flex;

    &-left {
      width: 100%;
      max-width: calc(100% - 555px);
      padding: 50px;
      background-color: $c-white;
      box-shadow: 17px 2px 40px 0 rgba($c-black, 0.15);
    }

    &-right {
      position: relative;
      width: 555px;

      picture {
        display: flex;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    padding-bottom: 29px;

    &-left {
      width: 154px;
      padding-right: 37px;
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 154px);
    }

    &-img {
      position: relative;
      width: 117px;
      height: 117px;

      &:after {
        content: "";
        z-index: 0;
        position: absolute;
        left: 14px;
        bottom: 0;
        width: 85%;
        height: 75%;
        background-color: rgba($c-black, 0.25);
        box-shadow: 0 2px 20px 0 rgba($c-black, 0.5);
      }

      picture {
        display: flex;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    padding-bottom: 72px;

    &-controls {
      width: 50px;
      padding-right: 9px;

      a {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41px;
        height: 41px;
        border-radius: 100%;
        background-color: $c-f4455a;
        box-shadow: 0 4px 10px 0 rgba($c-f4455a, 0.48);
        @include transition(box-shadow);

        &:hover {
          box-shadow: 0 2px 5px 0 rgba($c-f4455a, 0.48);
          @include transition(box-shadow);
        }

        &.is-play {
          svg {
            &.pause-js {
              display: block;
            }
            &.play-js {
              display: none;
            }
          }
        }

        svg {
          fill: $c-white;
          animation-fill-mode: both;
          animation-duration: 0.5s;
          animation-name: fadeIn;

          &.pause-js {
            display: none;
          }
          &.play-js {
            transform: translateX(2px) scale(0.65);
          }
        }
      }
    }

    &-wave {
      position: relative;
      width: 100%;
      max-width: calc(100% - (50px + 100px));
      height: 128px;
    }

    &-additional {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100px;
      padding-left: 10px;

      a {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41px;
        height: 41px;
        border-radius: 100%;
        background-color: $c-white;
        box-shadow: 0 4px 10px 0 rgba(#767676, 0.29);
        @include transition(box-shadow);

        &:hover {
          box-shadow: 0 2px 5px 0 rgba(#767676, 0.29);
          @include transition(box-shadow);
        }

        &:first-child {
          &.is-mute {
            svg {
              fill: $c-cfd1d3;
              @include transition(fill);
            }
          }

          svg {
            fill: $c-0074e1;
            @include transition(fill);
          }
        }
        &:last-child {
          svg {
            fill: $c-cfd1d3;
          }
        }
      }
    }
  }

  &__footer {
    overflow-y: auto;
    height: auto;
    max-height: 336px;
    border-top: 1px solid $c-e3e7f2;
  }

  &__name {
    color: $c-cfd1d3;
    font-size: 16px;
  }

  &__music {
    font-size: 20px;
    font-weight: 600;
  }

  &__description {
    display: flex;
    align-items: center;
    border-top: 1px solid $c-e3e7f2;
    padding-top: 17px;
    padding-bottom: 17px;
    color: $c-111;

    &:first-child {
      border-top: none;
    }

    > div {
      &:nth-child(1) {
        width: 100px;
        padding-right: 23px;
      }
      &:nth-child(2) {
        width: 100%;
        max-width: calc(100% - (100px + 75px));
      }
      &:nth-child(3) {
        width: 75px;
        text-align: right;
      }
    }

    &-img {
      overflow: hidden;
      position: relative;
      width: 77px;
      height: 77px;
      border-radius: 100%;

      picture {
        display: flex;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-name {
      color: $c-cfd1d3;
    }

    &-music {
      font-size: 16px;
      font-weight: 600;
    }

    &-time {
      font-weight: bold;
    }
  }

  &__time {
    position: absolute;
    bottom: -20px;
    font-weight: bold;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-name: fadeIn;

    &--current {
      left: 0;
    }

    &--duration {
      right: 0;
    }
  }
}

// SONGS :: END