// SWIPER :: START

//- Slider main container
.swiper-container.singer__view

  //- Additional required wrapper
  .swiper-wrapper
    .swiper-slide
      +pictureTag(false, "", "object-fit object-fit--coverCenter", "jpg", "img-slider-view-0")

    .swiper-slide
      +pictureTag(false, "", "object-fit object-fit--coverCenter", "jpg", "img-slider-view-1")

    .swiper-slide
      +pictureTag(false, "", "object-fit object-fit--coverCenter", "jpg", "img-slider-view-2")

    .swiper-slide
      +pictureTag(false, "", "object-fit object-fit--coverCenter", "jpg", "img-slider-view-3")


// SWIPER :: END