// SWIPER :: START

//- Slider main container
.swiper-container.singer__preview

  //- Additional required wrapper
  .swiper-wrapper
    .swiper-slide
      +pictureTag(false, "", "object-fit object-fit--coverCenter", "jpg", "img-slider-preview-0")

    .swiper-slide
      +pictureTag(false, "", "object-fit object-fit--coverCenter", "jpg", "img-slider-preview-1")

    .swiper-slide
      +pictureTag(false, "", "object-fit object-fit--coverCenter", "jpg", "img-slider-preview-2")

    .swiper-slide
      +pictureTag(false, "", "object-fit object-fit--coverCenter", "jpg", "img-slider-preview-3")


  //- If we need pagination
  .swiper-pagination


// SWIPER :: END