// AR :: START

.ar {
  position: relative;
  padding-top: 89px;
  @include respond(max-small) {
    padding-top: 44px;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-top {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 60%;
      background-color: $c-18162e;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 8px;
        background-color: $c-0074e1;
      }
    }
  }

  &__block {
    width: 100%;
    max-width: 368px;
    padding: 55px 41px 44px;
    background-color: $c-white;
    box-shadow: 7px 2px 40px 0 rgba($c-17182c, 0.15);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    @include respond(max-medium) {
      max-width: calc(50% - 40px);
      margin-bottom: 40px;
    }
    @include respond(max-small) {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding: 40px 30px 40px;
    }

    &:first-child {
      @include respond(large) {
        margin-left: 0;
      }
    }
    &:last-child {
      @include respond(large) {
        margin-right: 0;
      }
    }

    &-wrapper {
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: space-between;
      padding-bottom: 152px;
      @include respond(max-medium) {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 76px;
      }
      @include respond(max-small) {
        padding-bottom: 38px;
      }
    }

    &-img {
      margin-bottom: 39px;
    }

    &-title {
      padding-bottom: 11px;
      font-size: 24px;
      font-weight: 900;
      font-family: "Lato", sans-serif;
    }

    &-text {
      color: $c-a8aaac;
      line-height: 1.6;
      font-size: 18px;
      font-family: "Lato", sans-serif;
    }
  }
}

// AR :: END