.icon-arrow {
  width: 29px;
  height: 13px;
}
.icon-facebook {
  width: 11px;
  height: 20px;
}
.icon-instagram {
  width: 20px;
  height: 20px;
}
.icon-play {
  width: 21px;
  height: 30px;
}
.icon-quote {
  width: 17px;
  height: 14px;
}
.icon-twitter {
  width: 20px;
  height: 17px;
}
