.icon-arrow {
  width: 29px;
  height: 13px;
}
.icon-facebook {
  width: 11px;
  height: 20px;
}
.icon-full-screen {
  width: 16px;
  height: 16px;
}
.icon-instagram {
  width: 20px;
  height: 20px;
}
.icon-pause {
  width: 11px;
  height: 17px;
}
.icon-play {
  width: 21px;
  height: 30px;
}
.icon-quote {
  width: 17px;
  height: 14px;
}
.icon-spotify {
  width: 33px;
  height: 22px;
}
.icon-twitter {
  width: 20px;
  height: 17px;
}
.icon-volume {
  width: 22px;
  height: 17px;
}
